# Version name for tarball ie NDEx-v<tarballversion>/ndex-<tarballversion>.tar.gz
tarballversion=2.4.4

# Tag to check out for NDEx java client, 
# object model, and REST service code which
# is built and installed via maven. Note
# the 'v' is prepended value unless 'master'
# is set 
ndex=2.4.4

# Tag to checkout/build/install for NDEx java client,
# and java object model. This is needed cause often
# times ndex query and or iquery rely on previous 
# version of NDEx. Just liked 'ndex' the 'v' is 
# prepanded to this value unless 'master' is
# set
ndexqueryndex=2.4.3

# Tag to checkout/build/install ndex neighborhood query
ndexquery=master

# Tag to checkout/build/install Integrated Query services (enrichment, interactome, search)
iquery=master

# Version of tomcat to package
tomcatversion=8.5.35

# Version of solr to package
solrversion=8.1.1
