[Unit]
Description=NDEx IQuery Service
After=auditd.service systemd-user-sessions.service time-sync.target ndex-interactome-rest.service ndex-enrichment-rest.service

[Service]
User=ndex
TimeoutStartSec=0
Type=simple
KillMode=process
WorkingDirectory=/opt/ndex/services/ndexsearch-rest
StandardOutput=null
StandardError=null
ExecStart=/usr/bin/java -Xmx5g -jar /opt/ndex/services/ndexsearch-rest/ndexsearch-rest.jar --conf /opt/ndex/services/ndexsearch-rest/search.conf --mode runserver
Restart=always
RestartSec=5
LimitNOFILE=5555

[Install]
WantedBy=multi-user.target
